.about__title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 44px;
}

.about__image-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
  position: relative;
}

.about__image {
  width: 321px;
  height: auto;
  object-fit: cover;
}

.about__frame {
  position: absolute;
  content: "";
  top: 22px;
  left: 0;
  border: 3px solid var(--color-pink);
  width: 321px;
  height: 327px;
  z-index: 9;
}

.about__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 8px;
}

.about__text {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
}

.about__text-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 44px;
}

.about__button {
  border: 2px solid var(--color-blue);
  padding: 12px;
  width: 343px;
  background-color: inherit;
  color: inherit;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  margin-bottom: 100px;
}
.about__button:hover,
.about__button:focus {
  color: var(--text-default);
  border: 2px solid var(--form-button);
  box-shadow: 0 0 3px 0 #0595d0, 0 0 9px 0 #0595d0, 0 0 12px 0 #0595d0;
  text-shadow: 0 0 2px #0595d0, 0 0 6px #0595d0, 0 0 9px #0595d0,
    0 0 12px #0595d0, 0 0 16px #0595d0, 0 0 20px #0595d0;
}

@media screen and (min-width: 768px) {
  .about {
    position: relative;
    padding-top: 110px;
  }
  .about__title {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 32px;
    line-height: 94%;
    letter-spacing: 0.03em;
  }

  .about__image-wrapper {
    justify-content: center;
    margin-bottom: 64px;
  }

  .about__image {
    width: 552px;
  }

  .about__frame {
    top: 24px;
    left: 44px;
    border: 5px solid var(--color-pink);
    width: 552px;
    height: 563px;
  }

  .about__subtitle {
    font-weight: 400;
    line-height: 0%;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
  }

  .about__text {
    line-height: 156%;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
  }

  .about__text-main {
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.01em;
    margin-bottom: 110px;
  }

  .about__button {
    position: absolute;
    top: 110px;
    right: 40px;
    padding: 0;
    width: 210px;
    height: 48px;
    background-color: inherit;
    color: inherit;
    font-size: 16px;
    line-height: 300%;
    letter-spacing: 0.06em;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about .form__item:last-child {
    margin-bottom: 0;
  }
  .about .form__required-fields {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .about {
    padding-top: 150px;
  }
  .about__title {
    margin-bottom: 100px;
    font-size: 40px;
    line-height: 75%;
    letter-spacing: 0.03em;
  }

  .about__image-wrapper {
    display: inline-flex;
    justify-content: flex-end;
    float: right;
    margin-bottom: 0;
  }

  .about__image {
    width: 500px;
    height: 625px;
  }

  .about__frame {
    top: 24px;
    left: -24px;
    width: 500px;
    height: 625px;
  }
  .about__text-box {
    max-width: 632px;
    margin-bottom: 150px;
  }

  .about__subtitle {
    font-size: 36px;
    letter-spacing: 0.03em;
    margin-bottom: 24px;
  }

  .about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
  }

  .about__text-main {
    margin-bottom: 0;
  }

  .about__button {
    top: 150px;
    right: 80px;
  }
}
