.about {
  position: relative;
  overflow: hidden;
}

.about__title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 44px;
}
.about__image-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
  position: relative;
}
.about__image {
  width: 321px;
  height: auto;
}

.about__frame {
  position: absolute;
  content: "";
  top: 22px;
  left: 0;
  border: 3px solid var(--color-pink);
  width: 321px;
  height: 327px;
  z-index: 9;
}
.about__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 8px;
}
.about__text {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
}
.about__text-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 44px;
}
.about__wave {
  position: absolute;
  top: 0;
  left: -170%;
  z-index: -1;
}
.about__button {
  border: 2px solid var(--color-blue);
  padding: 12px;
  width: 343px;
  background-color: inherit;
  color: inherit;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  margin-bottom: 100px;
}
