.button__more {
  text-decoration: none;
  width: max-content;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 154%;
  padding: 6px 8px;
  background-color: transparent;
  color: inherit;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #00befe;
  border-radius: 4px 4px 0 0;
}
.button__more-svg {
  margin-left: 11px;
  width: 12px;
  height: 12px;
}