.contacts {
  padding-top: 100px;
  padding-bottom: 100px;
}
.contacts__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 46px;
}
.contacts__address {
  font-style: normal;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.contacts__item:not(:last-child) {
  margin-bottom: 30px;
}
.contacts__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 14px;
}
.contacts__text {
  font-size: 14px;
  line-height: 143%;
  text-align: center;
}
.contacts__title-form {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 44px;
  text-align: center;
}
@media screen and (min-width: 768px) {

}