.feedback {
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.feedback__title {
  color: white;
}
.feedback__card {
  display: flex;
  width: 200px;
  height: auto;
  border: 2px solid #08f11fef;
}
.swiper-slide .feedback__img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.feedback__wrapper {
}
.feedback__wrapper-text {
}
.feedback__name {
}
.feedback__text {
}
.feedback__wrapper-date {
}
.feedback__date {
}
