.hero {
  padding: 50px 16px 0 16px;
  position: relative;
  transform: translateY(-40px);
  animation: backgroundInUp 1s forwards 0.3s;
  margin-top: 100px;
}

.hero__title {
  font-family: var(--third-font);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 48px;
  line-height: 133%;
  text-align: center;
  margin-bottom: 14px;
}

.hero__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.hero__title,
.hero__subtitle {
  opacity: 0;
  animation: titleInUp 1s forwards 0.3s;
}

.hero__background {
  display: flex;
}

.hero__background-image:nth-child(odd) {
  width: 120px;
  height: 180px;
}

.hero__background-image:nth-child(even) {
  width: 170px;
  height: 250px;
  margin-left: -33px;
  margin-top: 8px;
  transform: translateY(40px);
  animation: imageInUp 1s forwards 0.3s;
}

.hero__background-image:nth-child(3) {
  margin-left: -33px;
}

// animation----------

.hero__background-logo {
  position: absolute;
  width: 200px;
  height: 273px;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  animation: logoOut 1s forwards 0.3s;
}

@keyframes logoOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes titleInUp {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes backgroundInUp {
  to {
    transform: translateY(0);
  }
}

@keyframes imageInUp {
  to {
    transform: translateY(0);
    opacity: 0.5;
  }
}

@keyframes imageOpacityTablet {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.2;
  }
}
@keyframes imageInUpTablet {
  to {
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 110px 60px 110px 60px;
  }

  .hero__title {
    font-family: var(--third-font);
    font-size: 128px;
    line-height: 37%;
    font-weight: 400;
    letter-spacing: 0.01em;
    margin-bottom: 178px;
  }

  .hero__subtitle {
    opacity: 1;
    font-weight: 500;
    font-size: 48px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  .hero__background-logo {
    width: 450px;
    height: 616px;
  }

  .hero__background-image:nth-child(1) {
    width: 304px;
    height: 495px;
    margin-top: -180px;
    margin-left: -40px;
    animation: imageOpacityTablet 1s forwards 0.3s;
  }

  .hero__background-image:nth-child(even) {
    width: 450px;
    height: 671px;
    margin-left: -170px;
    margin-top: -295px;
    transform: translateY(40px);
    animation: imageInUpTablet 1s forwards 0.3s,
      imageOpacityTablet 1s forwards 0.3s;
  }

  .hero__background-image:nth-child(3) {
    width: 200px;
    height: 300px;
    margin-top: -10px;
    margin-left: -80px;
    animation: imageOpacityTablet 1s forwards 0.3s;
  }
}
