.menu {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 80px;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--background-default);
}

.menu__logo {
  width: 24px;
  height: 33px;
  cursor: pointer;
}

.menu__button {
  background-color: inherit;
  cursor: pointer;
}

.menu__svg {
  width: 24px;
  height: 24px;
  fill: #f4f4f4;
}

.menu__svg:hover {
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-wrapper {
  margin-bottom: 64px;
}

.nav {
  margin-bottom: 147px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__list-item {
  padding: 8px 0;
  text-transform: uppercase;
  cursor: pointer;
}

.nav__list-item:not(:last-child) {
  margin-bottom: 8px;
}

.nav__list-link {
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: var(--text-default);
}

.nav__list-link:hover,
.nav__list-link:focus {
}

@media screen and (min-width: 768px) {
  .menu {
    padding: 0;
    background-image: url(../images/wave-menu.png);
    background-repeat: no-repeat;
    background-position: 100px -20px;
  }
  .social-wrapper {
    margin: 0;
  }
  .nav {
    margin: 0;
    margin-top: 50px;
    margin-bottom: auto;
  }
  .nav__list-item {
    padding: 20px 0;
  }
  .nav__list-item:not(:last-child) {
    margin-bottom: 0;
  }
}
