.menu {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  position: fixed;
  z-index: 11;
  right: 0;
  top: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--background-default);
}

.menu__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.menu__logo {
  width: 24px;
  height: 33px;
  cursor: pointer;
}

.menu__button {
  background-color: inherit;
  cursor: pointer;
}

.menu__svg {
  width: 24px;
  height: 24px;
  fill: #f4f4f4;
}

.menu__svg:hover {
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-wrapper {
  margin-bottom: 64px;
}



.nav {
  margin-bottom: 147px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__list-item {
  padding: 8px 0;
  text-transform: uppercase;
  cursor: pointer;
}

.nav__list-item:not(:last-child) {
  margin-bottom: 8px;
}

.nav__list-link {
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: var(--text-default);
}

.nav__list-link:hover,
.nav__list-link:focus {
}
