.preferences__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 44px;
}
.preferences__list {
  counter-reset: item;
}

.preferences__item {
  padding: 0 20px;
  font-size: 16px;
  line-height: 150%;
}
.preferences__item:not(:last-child) {
  margin-bottom: 16px;
}
.preferences__item::before {
  counter-increment: item;
  content: "0" counter(item);
  display: flex;
  margin-bottom: 12px;
  border-bottom: 2px solid var(--color-pink);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-pink);
}
@media screen and (min-width: 768px) {
  .preferences__title {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 94%;
    letter-spacing: 0.03em;
  }
  .preferences__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }

  .preferences__item:not(:last-child) {
    padding: 0 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 156%;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
  }

  .preferences__item::before {
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 0;
    line-height: 125%;
  }
}
