.gallery {
  display: flex;
  align-items: center;
}
.gallery__image {
  border: 3px solid var(--color-pink);
  width: 250px;
  height: 150px;
  object-fit: cover;
  display: block;
}

.gallery__swiper {
  width: 250px;
  padding-top: 65px;
  padding-bottom: 80px;
}

.arrow__prev {
  cursor: pointer;
  margin-right: 10px;
}

.arrow__next {
  cursor: pointer;
  margin-left: 10px;
}

.arrow__svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #f3f3f3;
}

.swiper-slide {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery__image {
    width: 100%;
    height: auto;
  }

  .gallery__swiper {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .arrow__svg {
    width: 24px;
    height: 24px;
  }

  .swiper-slide {
    margin: 0;
  }
}
