.time {
  padding-top: 100px;
}

.teams_title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 63px;
}

.teams__subtitle {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;
  color: var(--text-default);
  border: 2px dashed #1877f2;
  margin-bottom: 63px;
}

.time__list {
}

.time__item {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--text-default);
}

.time__item:not(:last-child) {
  margin-bottom: 16px;
}

.time__header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-default);
  text-transform: uppercase;
}

.time__item:nth-child(1) .time__header,
.time__item:nth-child(1) .time__content {
  border: 1px solid #c70c4d;
}

.time__item:nth-child(2) .time__header,
.time__item:nth-child(2) .time__content {
  border: 1px solid #59fea4;
}

.time__item:nth-child(3) .time__header,
.time__item:nth-child(3) .time__content {
  border: 1px solid #00befe;
}

.time__item:nth-child(4) .time__header,
.time__item:nth-child(4) .time__content {
  border: 1px solid #ff49f0;
}

.time__item:nth-child(5) .time__header,
.time__item:nth-child(5) .time__content {
  border: 1px solid #eafd63;
}

.time__item:nth-child(6) .time__header,
.time__item:nth-child(6) .time__content {
  border: 1px solid #fff;
}

.time__item:nth-child(7) .time__header,
.time__item:nth-child(7) .time__content {
  border: 1px solid #1877f2;
}

.time__header:hover {
}

.time__header-svg {
  width: 20px;
  height: 20px;
}

.arrow-top {
  transform: rotate(180deg);
}

.arrow-bottom {
  transform: rotate(0deg);
}

.time__content {
  padding: 16px;
  padding-top: 8px;
}

@media screen and (min-width: 768px) {
  .teams__subtitle {
    position: static;
    font-weight: normal;
    font-size: inherit;
    line-height: normal;
    text-align: left;
    text-transform: none;
    color: inherit;
    border: none;
    margin-bottom: 0;
  }

  .time__list {
  }

  .time__item {
    font-family: inherit;
    font-weight: normal;
    font-size: inherit;
    line-height: normal;
    color: inherit;
  }

  .time__item:not(:last-child) {
    margin-bottom: 0;
  }

  .time__header {
    padding: 0;
    display: block;
    justify-content: normal;
    align-items: normal;
    font-weight: normal;
    font-size: inherit;
    line-height: normal;
    color: inherit;
    text-transform: none;
  }

  .time__item:nth-child(1) .time__header,
  .time__item:nth-child(1) .time__content,
  .time__item:nth-child(2) .time__header,
  .time__item:nth-child(2) .time__content,
  .time__item:nth-child(3) .time__header,
  .time__item:nth-child(3) .time__content,
  .time__item:nth-child(4) .time__header,
  .time__item:nth-child(4) .time__content,
  .time__item:nth-child(5) .time__header,
  .time__item:nth-child(5) .time__content,
  .time__item:nth-child(6) .time__header,
  .time__item:nth-child(6) .time__content,
  .time__item:nth-child(7) .time__header,
  .time__item:nth-child(7) .time__content {
    border: none;
  }

  .time__header:hover {
  }

  .time__header-svg {
    width: auto;
    height: auto;
  }

  .arrow-top {
    transform: none;
  }

  .arrow-bottom {
    transform: none;
  }

  .time__content {
    padding: 0;
    padding-top: 0;
  }

  .time {
    padding-top: 110px;
    padding-bottom: 40px;
  }

  .teams_title {
    margin-bottom: 60px;
    font-size: 32px;
    line-height: 94%;
    letter-spacing: 0.03em;
  }

  .teams__subtitle {
    display: flex;
  }

  .teams__weekdays-list {
    display: flex;
    margin-bottom: 40px;
  }

  .teams__weekdays-item {
    width: 100px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
  }

  .teams__weekdays-item:not(:last-child) {
    margin-right: 17px;
  }
  .teams__weekdays-item:nth-child(1) {
    text-transform: capitalize;
    border: 3px dashed rgba(0, 190, 254, 0.5);
  }
  .teams__weekdays-item:nth-child(2) {
    border-bottom: 3px solid #9e1a4c;
  }
  .teams__weekdays-item:nth-child(3) {
    border-bottom: 3px solid #59fea4;
  }
  .teams__weekdays-item:nth-child(4) {
    border-bottom: 3px solid #66f5fb;
  }
  .teams__weekdays-item:nth-child(5) {
    border-bottom: 3px solid #ff49f0;
  }
  .teams__weekdays-item:nth-child(6) {
    border-bottom: 3px solid #eafd63;
  }

  .teams__weekdays-table {
    display: flex;
  }

  .teams__weekdays-day {
    padding: 16px 0;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px dashed rgba(0, 190, 254, 0.5);
    font-size: 12px;
    line-height: 208%;
    letter-spacing: 0.08em;
  }

  .teams__weekdays-day:first-child {
    font-weight: 500;
    font-size: 12px;
    line-height: 250%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }
}
