:root {
  --primary-font: "M PLUS 1p", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --third-font: "Atomic Age", sans-serif;
  --text-default: #fff;
  --text-secondary: #b3b3b3;
  --background-default: #2c2d32;
  --color-pink: #c70c4d;
  --color-blue: #00befe;
}
