:root {
  --primary-font: "M PLUS 1p", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --third-font: "Atomic Age", sans-serif;
  --text-default: #fff;
  --text-secondary: #b3b3b3;
  --text-third: #fff9ff;
  --text-dark: #2c2c2c;
  --text-hover: #cff3ff;
  --background-default: #2c2d32;
  --background-secondary: #fff;
  --color-pink: #c70c4d;
  --color-blue: #00befe;
  --input-border: #d9d9d9;
  --button-hover: #0094c6;
}
